
@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<ul>
    <li>
        @foreach (var film in Model)
        {

            <html>
            <head>
                <meta name="viewport" content="width=device-width" />
                <title>Home</title>
            </head>
            <body>
                <div>
                    br />
                    <br />
                    <ul>
                        <li>
                            @Html.Partial("~/Views/Film/GetAll")
                        </li>
                    </ul>
                </div>
            </body>
        </html>

    }

    </li>
</ul>