@model IEnumerable<Cinema.EF.DataModel.Film>



<br />
<a href="GetOne" class="navbar-brand">@Html.BeginForm("GetOne", "film", FormMethod.Get))</a>
<br />

@model Cinema.EF.DataModel.Film

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <br />
        @Html.BeginForm("GetOne", "film", FormMethod.Get))
        <br />

    </div>
</body>
</html>

